In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r"C:\Users\91937\Desktop\Machine Learning Tutorials\Superived_Training_testing_basic_example.csv")

In [3]:
df

   Age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [6]:
# Independent variable
x = df['Age']

In [7]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [8]:
# Dependent variable
y = df['Premium']

In [9]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [13]:
x_train

2    35
4    45
1    30
0    25
Name: Age, dtype: int64

In [14]:
x_test

3    40
Name: Age, dtype: int64

In [15]:
y_train

2    40000
4    55000
1    32000
0    18000
Name: Premium, dtype: int64

In [16]:
y_test

3    47000
Name: Premium, dtype: int64

In [17]:
len(x_train)

4